<div class="download-container">
  <p-toast></p-toast>
  
  <div class="grid">
    <div class="col-12">
      <p-card>
        <ng-template pTemplate="header">
          <div class="card-header">
            <h2><i class="pi pi-download"></i> Soundry Download</h2>
            <p>Download music from Spotify, YouTube, SoundCloud, and more</p>
          </div>
        </ng-template>

        <div class="form-container">
          <div class="field">
            <label for="source">Select Source</label>
            <p-selectButton 
              [(ngModel)]="selectedSource" 
              [options]="sourceOptions" 
              optionLabel="label" 
              optionValue="value">
            </p-selectButton>
          </div>

          <div class="field">
            <label for="url">URL</label>
            <div class="p-inputgroup">
              <input 
                id="url"
                type="text" 
                pInputText 
                [(ngModel)]="url" 
                placeholder="Enter Spotify, YouTube, or SoundCloud URL"
                [disabled]="loading"
                (keyup.enter)="onDownload()"
              />
              <button 
                type="button" 
                pButton 
                icon="pi pi-times" 
                class="p-button-danger"
                (click)="clearUrl()"
                [disabled]="!url || loading">
              </button>
            </div>
          </div>

          <div class="field">
            <button 
              pButton 
              type="button" 
              label="Download" 
              icon="pi pi-download"
              (click)="onDownload()"
              [disabled]="!url || loading"
              [loading]="loading"
              class="p-button-success download-btn">
            </button>
          </div>
        </div>

        <div *ngIf="loading" class="loading-container">
          <p-progressSpinner></p-progressSpinner>
          <p>Downloading... This may take a few moments.</p>
        </div>

        <div *ngIf="downloadResult && downloadResult.success" class="result-container">
          <div class="success-message">
            <i class="pi pi-check-circle"></i>
            <span>{{ downloadResult.message || 'Download completed' }}</span>
          </div>
          <div class="files-list" *ngIf="downloadResult.files && downloadResult.files.length > 0">
            <h3>Downloaded Files:</h3>
            <ul>
              <li *ngFor="let file of downloadResult.files">
                <i class="pi pi-file"></i>
                <span class="file-name">{{ file.filename }}</span>
                <span class="file-size">({{ (file.size / 1024 / 1024).toFixed(2) }} MB)</span>
              </li>
            </ul>
          </div>
        </div>

        <ng-template pTemplate="footer">
          <div class="card-footer">
            <p><i class="pi pi-info-circle"></i> Supported platforms: Spotify, YouTube, SoundCloud, and more</p>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
